.body{
    border-radius: 30px;
    height:1000px;
    display: flex;
    justify-content: center;
}

.heading{
    padding-bottom:30px;
    font-size: 30px;
}

.inner-body{
    background-color: aquamarine;
    border:2px solid black;
    padding:30px;
    border-radius: 25px;
}

.p{
    font-size: 20px;
    padding-bottom: 30px;
}

